@model CategoryView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card mx-auto">
        <div class="card-body">
            <div class="form-group">
                <h2>Kategoriler</h2>
                @foreach (var item in Model.Categories)
                {
                    <ul>
                        <li><h5>@item.Name</h5></li>
                    </ul>
                }
            </div>
            <form method="post">
                <div class="form-group">
                    <h2>Kategori Ekle</h2>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" asp-for="Category.Name" placeholder="Kategori Adı" />
                </div>
                <div class="form-group">
                    <input asp-action="Add" asp-controller="Category" class="form-control" type="submit" value="Ekle" />
                </div><div class="form-group">
                    <input asp-action="Edit" asp-controller="Category" formmethod="get" class="form-control" type="submit" value="Güncelle" />
                </div>
                <div asp-validation-summary="All"></div>
            </form>
            
        </div>
    </div>
</div>