@model CardView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <!-- Order Details -->
            <div class="col-md-4 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Sepettekiler</h3>
                </div>
                <form method="post">
                    <div class="order-summary">
                        @if (Model.Cards.Count == 0)
                        {
                            <label> Sepet Boş</label>
                        }
                        else
                        {
                            @foreach (var item in Model.Cards)
                            {
                                <div class="shop">
                                    <div class="shop-img">
                                        <img src="~/Image/@item.Book.ImageName" alt="" width="220" height="200">
                                    </div>
                                    <div class="shop-body">
                                        <h3>@item.Book.Name<br>@item.Book.Author.Name</h3>
                                        <div class="checkbox">
                                            <label style="font-size: 2em;color:white">
                                                <input type="checkbox" name="IdsToDelete" value="@item.Id">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                Seç
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div>
                        <center><input type="submit" asp-action="RemoveCard" asp-controller="Card" class="primary-btn order-submit" value="Seçilenleri Temizle" /></center>
                    </div>
                </form>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>