
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="error-template">
                <center>
                    <h1>
                        Oops!
                    </h1>
                    <h2>
                        505 Not Found
                    </h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
