@model LoginUserView
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Administration/Views/Shared/_AccountLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="post" asp-action="Login" asp-controller="Account">
                        <div class="form-label-group">
                            <input type="text" asp-for="UserName" id="inputText" class="form-control" placeholder="Username" required autofocus>
                            <label for="inputText">Username</label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                            <a asp-action="SingUp" asp-controller="Account">SingUp</a>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                        <hr class="my-4">
                        <div asp-validation-summary="All"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>