@model UserView
@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Areas/Administration/Views/Shared/_AccountLayout.cshtml";
}

<div class="card mx-auto">
    <div class="card-heading mx-auto form-control text-center">
        <h2>SING UP</h2>
    </div>
    <div class="card-body">
        <form asp-action="SingUp" asp-controller="Account">
            <div class="form-group">
                <input asp-for="Username" placeholder="Username" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Name" placeholder="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="SurName" placeholder="SurName" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Phone"placeholder="Phone" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="PasswordT" type="password" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Sing Up</button>
            </div>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</div>